[submodule "lib/flanterm"]
	path = lib/flanterm
	url = https://github.com/mintsuki/flanterm
	branch = bentobox
[submodule "lib/uACPI"]
	path = lib/uACPI
	url = https://github.com/uACPI/uACPI
[submodule "build/cc-runtime"]
	path = build/cc-runtime
	url = https://github.com/osdev0/cc-runtime.git
[submodule "build/limine-protocol"]
	path = build/limine-protocol
	url = https://github.com/limine-bootloader/limine-protocol.git
[submodule "build/freestnd-c-hdrs"]
	path = build/freestnd-c-hdrs
	url = https://github.com/osdev0/freestnd-c-hdrs-0bsd.git
[submodule "lib/zstd"]
	path = lib/zstd
	url = https://github.com/9xbt/zstd/
