/bin
/obj
/build/cc-runtime
/build/freestnd-c-hdrs
/build/limine
/build/limine-protocol
/build/mlibc
/build/ovmf
/build/kernel-deps
/build/base
/ports/src
compile_commands.json
.cache
.vscode
*.wad
*.flf
