/bin
/obj
/build/cc-runtime
/build/freestnd-c-hdrs
/build/limine
/build/limine-protocol
/build/mlibc
/build/ovmf
/build/kernel-deps
/build/base
/build/binutils
/build/gcc
/build/toolchain
/util/build
/ports/src
/base/etc/localtime
compile_commands.json
.cache
.vscode
*.wad
*.flf
