insmod efi_gop

set timeout=1
set default="bentobox (AHCI mode)"

menuentry "bentobox" {
    multiboot2 /boot/image.elf root=/dev/sda1
    module2 /boot/ksym.elf ksym
    module2 /modules/ata.ko
    module2 /modules/gpt.ko
    module2 /modules/ext2.ko
    boot
}
menuentry "bentobox (nosmp)" {
    multiboot2 /boot/image.elf root=/dev/sda1 nosmp
    module2 /boot/ksym.elf ksym
    module2 /modules/ata.ko
    module2 /modules/gpt.ko
    module2 /modules/ext2.ko
    boot
}
menuentry "bentobox (AHCI mode)" {
    multiboot2 /boot/image.elf root=/dev/sda1
    module2 /boot/ksym.elf ksym
    module2 /modules/ahci.ko
    module2 /modules/gpt.ko
    module2 /modules/ext2.ko
    boot
}