insmod efi_gop

set timeout=1
set default="bentobox (AHCI mode)"

menuentry "bentobox" {
    multiboot2 /boot/image.elf root=/dev/hda
    module2 /boot/ksym.elf ksym     # ksym has to be loaded first
    module2 /modules/ata.elf
    module2 /modules/ext2.elf
    boot
}
menuentry "bentobox (nosmp)" {
    multiboot2 /boot/image.elf root=/dev/hda nosmp
    module2 /boot/ksym.elf ksym
    module2 /modules/ata.elf
    module2 /modules/ext2.elf
    boot
}
menuentry "bentobox (AHCI mode)" {
    multiboot2 /boot/image.elf root=/dev/sda2
    module2 /boot/ksym.elf ksym
    module2 /boot/ksym.elf ksym
    module2 /boot/ksym.elf ksym
    module2 /modules/ahci.elf
    module2 /modules/gpt.elf
    module2 /modules/ext2.elf
    boot
}